/* Hide replaced widgets without *really* hiding them */
input[type="checkbox"].hidden-widget,
input[type="radio"].hidden-widget {
	position: absolute;
	left: -9999px;
}

/* Hide the contents of collapsible fieldsets by default */
fieldset.collapsible > :not(legend, .expander) {
	display: none;
}

/* Use "help" cursor for labels with tooltip help */
label.tooltip-help {
	cursor: help;
}
